#episode-title
  %h2= "Episódio #{@episode.id} - #{@episode.title} - #{@episode.duration}"

#episode-description
  %p= @episode.description 
  
%div{:class => 'CodeRay'}= show_code(@episode.code)
  
= partial :player, :locals => {:episode => @episode}
