#current-episode
  %div{ :class => "current-episode-content whitebox"}
    #episode-title
      %h2
        %a{ :href => "/episodes/#{@episode.id}" }
          = "Episódio #{@episode.id} - #{@episode.title} - #{@episode.duration}"
    #episode-description
      %p
        = @episode.description
    #notes
      %h2 Links
      %p
        = show_notes(@episode.notes)

  = partial :player, :locals => {:episode => @episode}