#current_episode
	%h3
		= "Episódio #{@episode.id} - #{@episode.title}"
	%span
		= @episode.description
	= partial :player, :locals => {:episode => @episode}

#comments
	%span
		Comentários
	- @episode.comments.each_with_index do |comment, index|
		%h4
			= index
		%span
			= comment.content