- unless @episodes.empty?
  - @episode = @episodes.shift
  %article#current_episode
    = partial :episode_content, :locals => {:episode => @episode}
			
%aside
  %ul#episodes
    - @episodes.to_a.each do |episode|
      %li{:id => "episode-#{episode.id}"}
        %h2
          %a.episode-link{:href => "/episodes/#{episode.id}"}
            = "Episódio #{episode.id} - #{episode.title}"
        %p
          = episode.description
