
- unless @episodes.empty?
  - @episode = @episodes.shift
  #current-episode
    = partial :episode_content, :locals => {:episode => @episode}
			
%div#information-box
  #latest-episodes
    %div.latest
      - @episodes.to_a.each do |episode|
        %ol{:class => "episode-#{episode.id}"}
          %li
            %a.episode-link{:href => "/episodes/#{episode.id}"}
              = "Episódio #{episode.id} - #{episode.title}"
            %p= episode.description

%form#search
  %input{:type => "search", :placeholder => 'Search'}
  %input{:type => "submit", :value => 'Buscar Episódios'}