#header
	%header
		%div
			%h1 RubyCasts
		%menu
			%h2 Episódios			
			%h2 Feedback
			%h2 Sobre
#current_episode
	- unless @episodes.empty?
		- @episode = @episodes.shift
		%h3
			= "Episódio #{@episode.id} - #{@episode.title}"
		%span
			= @episode.description
		%span
			= "Duration: #{@episode.duration}"
		= partial :player, :locals => {:episode => @episode}
			
#other_episodes
	- @episodes.to_a.each do |episode|
		%div{:id => "episode-#{episode.id}"}
			%a{:class => "episode-link", :href => "/episodes/#{episode.id}"}
				= "Episódio #{episode.id} - #{episode.title}"
			%span
				= episode.description

= partial :footer